USE [master]
GO
/****** Object:  Database [SRBK_database]    Script Date: 24.01.2018 01:40:48 ******/
CREATE DATABASE [SRBK_database]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SRBK_database', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\SRBK_database.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SRBK_database_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\SRBK_database_log.ldf' , SIZE = 69760KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SRBK_database].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SRBK_database]
GO
/****** Object:  UserDefinedFunction [dbo].[SHOW_COURSES_WITH_AB]    Script Date: 24.01.2018 01:40:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[SHOW_COURSES_WITH_AB](@stacja_a VARCHAR(50), @stacja_b VARCHAR(50))
RETURNS @kursy TABLE
(
COURSE_ID int primary key NOT NULL
)
AS
BEGIN
-- Pobranie kursów które zawierają stację a
declare @kursy_a as TABLE(COURSE_ID int, VISIT_ORDER int)

INSERT INTO @kursy_a (COURSE_ID, VISIT_ORDER) (
SELECT COURSE_ID, VISIT_ORDER
FROM VISITS
INNER JOIN STATIONS ON VISITS.STATION_ID = STATIONS.ID
WHERE STATIONS.NAME = @stacja_a)

-- Pobieranie kursów które zawierają stację a i stację b
declare @kursy_b as TABLE(COURSE_ID int, VISIT_ORDER int)

INSERT INTO @kursy_b (COURSE_ID, VISIT_ORDER) (
SELECT COURSE_ID, VISIT_ORDER
FROM VISITS
INNER JOIN STATIONS ON VISITS.STATION_ID = STATIONS.ID
WHERE COURSE_ID = ANY(SELECT COURSE_ID FROM @kursy_a) AND STATIONS.NAME = @stacja_b)

--Sprawdzenie czy kolejność jest odpowiednia
INSERT INTO @kursy (COURSE_ID) (
SELECT [@kursy_b].COURSE_ID
FROM @kursy_b
INNER JOIN @kursy_a ON [@kursy_b].COURSE_ID = [@kursy_a].COURSE_ID
WHERE [@kursy_b].VISIT_ORDER > [@kursy_a].VISIT_ORDER
)

return
END



GO
/****** Object:  Table [dbo].[COURSES]    Script Date: 24.01.2018 01:40:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COURSES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TRAIN_ID] [int] NOT NULL,
 CONSTRAINT [PK_COURSES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CUSTOMERS]    Script Date: 24.01.2018 01:40:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CUSTOMERS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](50) NOT NULL,
	[SURNAME] [varchar](50) NOT NULL,
	[ADDRESS] [varchar](70) NOT NULL,
	[CITY] [varchar](50) NOT NULL,
	[ZIP_CODE] [varchar](6) NOT NULL,
	[PHONE_NUMBER] [varchar](11) NOT NULL,
	[EMAIL] [varchar](50) NOT NULL,
 CONSTRAINT [PK_CUSTOMERS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOGINS]    Script Date: 24.01.2018 01:40:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOGINS](
	[LOGIN] [varchar](50) NOT NULL,
	[PASSWORD] [varchar](50) NOT NULL,
 CONSTRAINT [PK_LOGINS] PRIMARY KEY CLUSTERED 
(
	[LOGIN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RESERVATIONS]    Script Date: 24.01.2018 01:40:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RESERVATIONS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CUSTOMER_ID] [int] NOT NULL,
	[PRICE] [smallmoney] NOT NULL,
	[DATE] [date] NOT NULL,
 CONSTRAINT [PK_RESERVATIONS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SEATS]    Script Date: 24.01.2018 01:40:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SEATS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NUMBER] [int] NOT NULL,
	[COURSE_ID] [int] NOT NULL,
	[VISIT_ID] [int] NULL,
	[RESERVATION_ID] [int] NULL,
 CONSTRAINT [PK_SEATS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[STATIONS]    Script Date: 24.01.2018 01:40:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[STATIONS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](50) NOT NULL,
 CONSTRAINT [PK_STATIONS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TRAINS]    Script Date: 24.01.2018 01:40:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TRAINS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](50) NOT NULL,
	[MODEL] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TRAINS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[VISITS]    Script Date: 24.01.2018 01:40:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VISITS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[STATION_ID] [int] NOT NULL,
	[COURSE_ID] [int] NOT NULL,
	[VISIT_ORDER] [int] NOT NULL,
	[AVAIBLE_SEATS] [int] NOT NULL,
	[DATE] [smalldatetime] NOT NULL,
 CONSTRAINT [PK_VISITS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  View [dbo].[Show_Courses]    Script Date: 24.01.2018 01:40:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Show_Courses]
AS
SELECT  COURSES.ID, TRAINS.NAME AS POCIĄG, (
SELECT	TOP 1 STATIONS.NAME 
FROM VISITS
INNER JOIN STATIONS ON 
VISITS.STATION_ID = STATIONS.ID
WHERE VISITS.COURSE_ID = COURSES.ID
ORDER BY VISITS.VISIT_ORDER ASC) AS PIERWSZA_STACJA, (
SELECT	TOP 1 STATIONS.NAME 
FROM VISITS
INNER JOIN STATIONS ON 
VISITS.STATION_ID = STATIONS.ID
WHERE VISITS.COURSE_ID = COURSES.ID
ORDER BY VISITS.VISIT_ORDER DESC) AS OSTATNIA_STACJA
FROM dbo.COURSES
INNER JOIN TRAINS
ON COURSES.TRAIN_ID = TRAINS.ID;


GO
/****** Object:  View [dbo].[Show_Customers]    Script Date: 24.01.2018 01:40:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Show_Customers]
AS
SELECT        ID, NAME AS Imię, SURNAME AS Nazwisko, ADDRESS AS Dane, CITY AS Miasto, ZIP_CODE AS [Kod Pocztowy], PHONE_NUMBER AS [Nr. tel.], EMAIL AS email
FROM            dbo.CUSTOMERS



GO
/****** Object:  View [dbo].[Show_Trains]    Script Date: 24.01.2018 01:40:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Show_Trains] as
    SELECT
       ID AS 'ID Pociągu',
	   NAME AS 'Nazwa Pociągu',
	   MODEL AS 'Model Pociągu'
	FROM
    TRAINS




GO
SET IDENTITY_INSERT [dbo].[COURSES] ON 

INSERT [dbo].[COURSES] ([ID], [TRAIN_ID]) VALUES (7, 3)
INSERT [dbo].[COURSES] ([ID], [TRAIN_ID]) VALUES (9, 4)
INSERT [dbo].[COURSES] ([ID], [TRAIN_ID]) VALUES (10, 5)
SET IDENTITY_INSERT [dbo].[COURSES] OFF
SET IDENTITY_INSERT [dbo].[CUSTOMERS] ON 

INSERT [dbo].[CUSTOMERS] ([ID], [NAME], [SURNAME], [ADDRESS], [CITY], [ZIP_CODE], [PHONE_NUMBER], [EMAIL]) VALUES (2, N'Łukasz', N'Zatorski', N'Zachodnia 61', N'Piotrków', N'97-300', N'48500716575', N'lukasz1111@gmail.com')
INSERT [dbo].[CUSTOMERS] ([ID], [NAME], [SURNAME], [ADDRESS], [CITY], [ZIP_CODE], [PHONE_NUMBER], [EMAIL]) VALUES (3, N'Sebastian', N'Łągiewski', N'Główna 10', N'Przygłów', N'97-310', N'48123456789', N'seba@gmail.com')
SET IDENTITY_INSERT [dbo].[CUSTOMERS] OFF
INSERT [dbo].[LOGINS] ([LOGIN], [PASSWORD]) VALUES (N'Admin', N'pIbvhgmpVHahDBTYUgQvew==')
INSERT [dbo].[LOGINS] ([LOGIN], [PASSWORD]) VALUES (N'Cashier', N'a77rnoLt4SfyMwKB5+h57w==')
SET IDENTITY_INSERT [dbo].[RESERVATIONS] ON 

INSERT [dbo].[RESERVATIONS] ([ID], [CUSTOMER_ID], [PRICE], [DATE]) VALUES (11, 3, 30.0000, CAST(N'2018-01-25' AS Date))
INSERT [dbo].[RESERVATIONS] ([ID], [CUSTOMER_ID], [PRICE], [DATE]) VALUES (22, 2, 30.0000, CAST(N'2018-01-25' AS Date))
SET IDENTITY_INSERT [dbo].[RESERVATIONS] OFF
SET IDENTITY_INSERT [dbo].[SEATS] ON 

INSERT [dbo].[SEATS] ([ID], [NUMBER], [COURSE_ID], [VISIT_ID], [RESERVATION_ID]) VALUES (601, 1, 7, 31, NULL)
INSERT [dbo].[SEATS] ([ID], [NUMBER], [COURSE_ID], [VISIT_ID], [RESERVATION_ID]) VALUES (602, 2, 7, 31, NULL)
INSERT [dbo].[SEATS] ([ID], [NUMBER], [COURSE_ID], [VISIT_ID], [RESERVATION_ID]) VALUES (603, 3, 7, 31, NULL)
GO
SET IDENTITY_INSERT [dbo].[SEATS] OFF
SET IDENTITY_INSERT [dbo].[STATIONS] ON 

INSERT [dbo].[STATIONS] ([ID], [NAME]) VALUES (9, N'Wrocław')
INSERT [dbo].[STATIONS] ([ID], [NAME]) VALUES (10, N'Katowice')
INSERT [dbo].[STATIONS] ([ID], [NAME]) VALUES (11, N'Piotrków Trybunalski')
SET IDENTITY_INSERT [dbo].[STATIONS] OFF
SET IDENTITY_INSERT [dbo].[TRAINS] ON 

INSERT [dbo].[TRAINS] ([ID], [NAME], [MODEL]) VALUES (3, N'Pendolino', N'XYZ300')
INSERT [dbo].[TRAINS] ([ID], [NAME], [MODEL]) VALUES (4, N'Dart', N'ABC200')
INSERT [dbo].[TRAINS] ([ID], [NAME], [MODEL]) VALUES (5, N'Flirt3', N'2000')
SET IDENTITY_INSERT [dbo].[TRAINS] OFF
SET IDENTITY_INSERT [dbo].[VISITS] ON 

INSERT [dbo].[VISITS] ([ID], [STATION_ID], [COURSE_ID], [VISIT_ORDER], [AVAIBLE_SEATS], [DATE]) VALUES (31, 9, 7, 1, 50, CAST(N'2018-01-24 14:00:00' AS SmallDateTime))
INSERT [dbo].[VISITS] ([ID], [STATION_ID], [COURSE_ID], [VISIT_ORDER], [AVAIBLE_SEATS], [DATE]) VALUES (32, 10, 7, 2, 50, CAST(N'2018-01-24 16:00:00' AS SmallDateTime))
INSERT [dbo].[VISITS] ([ID], [STATION_ID], [COURSE_ID], [VISIT_ORDER], [AVAIBLE_SEATS], [DATE]) VALUES (33, 11, 7, 3, 50, CAST(N'2018-01-24 18:00:00' AS SmallDateTime))
SET IDENTITY_INSERT [dbo].[VISITS] OFF
ALTER TABLE [dbo].[COURSES]  WITH CHECK ADD  CONSTRAINT [FK_COURSES_TRAINS] FOREIGN KEY([TRAIN_ID])
REFERENCES [dbo].[TRAINS] ([ID])
GO
ALTER TABLE [dbo].[COURSES] CHECK CONSTRAINT [FK_COURSES_TRAINS]
GO
ALTER TABLE [dbo].[RESERVATIONS]  WITH CHECK ADD  CONSTRAINT [FK_RESERVATIONS_CUSTOMERS] FOREIGN KEY([CUSTOMER_ID])
REFERENCES [dbo].[CUSTOMERS] ([ID])
GO
ALTER TABLE [dbo].[RESERVATIONS] CHECK CONSTRAINT [FK_RESERVATIONS_CUSTOMERS]
GO
ALTER TABLE [dbo].[SEATS]  WITH CHECK ADD  CONSTRAINT [FK_SEATS_COURSES] FOREIGN KEY([COURSE_ID])
REFERENCES [dbo].[COURSES] ([ID])
GO
ALTER TABLE [dbo].[SEATS] CHECK CONSTRAINT [FK_SEATS_COURSES]
GO
ALTER TABLE [dbo].[SEATS]  WITH CHECK ADD  CONSTRAINT [FK_SEATS_RESERVATIONS] FOREIGN KEY([RESERVATION_ID])
REFERENCES [dbo].[RESERVATIONS] ([ID])
GO
ALTER TABLE [dbo].[SEATS] CHECK CONSTRAINT [FK_SEATS_RESERVATIONS]
GO
ALTER TABLE [dbo].[SEATS]  WITH CHECK ADD  CONSTRAINT [FK_SEATS_VISITS] FOREIGN KEY([VISIT_ID])
REFERENCES [dbo].[VISITS] ([ID])
GO
ALTER TABLE [dbo].[SEATS] CHECK CONSTRAINT [FK_SEATS_VISITS]
GO
ALTER TABLE [dbo].[VISITS]  WITH CHECK ADD  CONSTRAINT [FK_VISITS_COURSES] FOREIGN KEY([COURSE_ID])
REFERENCES [dbo].[COURSES] ([ID])
GO
ALTER TABLE [dbo].[VISITS] CHECK CONSTRAINT [FK_VISITS_COURSES]
GO
ALTER TABLE [dbo].[VISITS]  WITH CHECK ADD  CONSTRAINT [FK_VISITS_STATIONS] FOREIGN KEY([STATION_ID])
REFERENCES [dbo].[STATIONS] ([ID])
GO
ALTER TABLE [dbo].[VISITS] CHECK CONSTRAINT [FK_VISITS_STATIONS]
GO
/****** Object:  StoredProcedure [dbo].[ADD_COURSE]    Script Date: 24.01.2018 01:40:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ADD_COURSE]
@TRAIN_ID varchar(50)
AS

BEGIN
INSERT INTO COURSES(TRAIN_ID)
VALUES (@TRAIN_ID)
END

GO
/****** Object:  StoredProcedure [dbo].[ADD_RESERVATIONS]    Script Date: 24.01.2018 01:40:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ADD_RESERVATIONS]
@CUSTOMER_ID INT,
@PRICE INT,
@COURSE_ID INT,
@STATION_A VARCHAR(70),
@STATION_B VARCHAR(70),
@SEAT_NUMBER INT
AS

BEGIN

DECLARE @FIRST_VISIT_ID INT = (
SELECT VISITS.ID 
FROM VISITS INNER JOIN STATIONS
ON VISITS.STATION_ID = STATIONS.ID
WHERE STATIONS.NAME = @STATION_A AND VISITS.COURSE_ID = @COURSE_ID)

DECLARE @LAST_VISIT_ID INT = (
SELECT VISITS.ID 
FROM VISITS INNER JOIN STATIONS
ON VISITS.STATION_ID = STATIONS.ID
WHERE STATIONS.NAME = @STATION_B AND VISITS.COURSE_ID = @COURSE_ID)

DECLARE @VISIT_COUNTER INT = @LAST_VISIT_ID - @FIRST_VISIT_ID;

DECLARE @DATE smalldatetime = (
SELECT VISITS.DATE
FROM VISITS
WHERE VISITS.ID = @FIRST_VISIT_ID)

INSERT INTO RESERVATIONS(CUSTOMER_ID, PRICE, DATE)
VALUES (@CUSTOMER_ID, @PRICE, @DATE)

DECLARE @cnt INT = (
SELECT VISITS.VISIT_ORDER 
FROM VISITS
WHERE VISITS.ID = @FIRST_VISIT_ID) 
SET @VISIT_COUNTER = @VISIT_COUNTER + @cnt;

WHILE @cnt < @VISIT_COUNTER
BEGIN
   UPDATE SIEDZENIA
	SET RESERVATION_ID = IDENT_CURRENT('RESERVATIONS')
	FROM SEATS AS SIEDZENIA
	INNER JOIN VISITS
	ON SIEDZENIA.VISIT_ID = VISITS.ID
	WHERE VISITS.VISIT_ORDER = @cnt AND VISITS.COURSE_ID = @COURSE_ID AND SIEDZENIA.NUMBER = @SEAT_NUMBER;
	SET @cnt = @cnt + 1;
END;

END

GO
/****** Object:  StoredProcedure [dbo].[ADD_SEATS]    Script Date: 24.01.2018 01:40:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ADD_SEATS]
@COURSE_ID INT,
@VISIT_ID INT,
@NUMBER_OF_SEATS INT
AS

BEGIN
DECLARE @cnt INT = 1;

WHILE @cnt < @NUMBER_OF_SEATS + 1
BEGIN
   INSERT INTO SEATS(NUMBER, COURSE_ID, VISIT_ID, RESERVATION_ID)
	VALUES (@cnt, @COURSE_ID, @VISIT_ID, NULL);
	SET @cnt = @cnt + 1;
END;

END

GO
/****** Object:  StoredProcedure [dbo].[ADD_STATION]    Script Date: 24.01.2018 01:40:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ADD_STATION]
@NAME varchar(50)
AS

BEGIN
INSERT INTO STATIONS(NAME)
VALUES (@NAME)
END

GO
/****** Object:  StoredProcedure [dbo].[ADD_TRAIN]    Script Date: 24.01.2018 01:40:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ADD_TRAIN]
@NAME varchar(50),
@MODEL varchar(70)
AS

BEGIN
INSERT INTO TRAINS(NAME,MODEL)
VALUES (@NAME,@MODEL)
END



GO
/****** Object:  StoredProcedure [dbo].[ADD_VISIT]    Script Date: 24.01.2018 01:40:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ADD_VISIT]
@STATION_ID INT,
@COURSE_ID INT,
@VISIT_ORDER INT,
@AVAIBLE_SEATS INT,
@DATE smalldatetime
AS

BEGIN
INSERT INTO VISITS(STATION_ID, COURSE_ID, VISIT_ORDER, AVAIBLE_SEATS, DATE)
VALUES (@STATION_ID ,
@COURSE_ID,
@VISIT_ORDER,
@AVAIBLE_SEATS,
@DATE)
END

GO
/****** Object:  StoredProcedure [dbo].[CREATE_NEWCUSTOMER]    Script Date: 24.01.2018 01:40:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[CREATE_NEWCUSTOMER]
@NAME varchar(50)
,@SURNAME varchar(50)
,@ADDRESS varchar(70)
,@CITY varchar(50)
,@ZIP_CODE varchar(6)
,@PHONE_NUMBER varchar(11)
,@EMAIL varchar(50)

AS

BEGIN
INSERT INTO CUSTOMERS(NAME,SURNAME,ADDRESS,CITY,ZIP_CODE, PHONE_NUMBER, EMAIL)
VALUES (@NAME,@SURNAME,@ADDRESS,@CITY,@ZIP_CODE, @PHONE_NUMBER, @EMAIL)
END



GO
/****** Object:  StoredProcedure [dbo].[DELETE_COURSE]    Script Date: 24.01.2018 01:40:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DELETE_COURSE]
@COURSE_ID INT
AS

BEGIN
DELETE FROM RESERVATIONS
WHERE RESERVATIONS.ID = ANY(
SELECT SEATS.RESERVATION_ID FROM SEATS
INNER JOIN COURSES ON SEATS.COURSE_ID = COURSES.ID
WHERE SEATS.COURSE_ID = @COURSE_ID);

DELETE FROM SEATS
WHERE SEATS.COURSE_ID = @COURSE_ID

DELETE FROM VISITS
WHERE VISITS.COURSE_ID = @COURSE_ID;

DELETE FROM COURSES
WHERE COURSES.ID = @COURSE_ID;

END

GO
/****** Object:  StoredProcedure [dbo].[MODIFY_CUSTOMER]    Script Date: 24.01.2018 01:40:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MODIFY_CUSTOMER]
(
@ID int,
@NAME varchar(50),
@SURNAME varchar(50),
@ADDRESS varchar(70),
@CITY varchar(50),
@ZIP_CODE varchar(6),
@PHONE_NUMBER varchar(11),
@EMAIL varchar(50)
)
AS

	IF (@NAME IS NOT NULL)
		UPDATE CUSTOMERS
		SET NAME = @NAME
		WHERE ID=@ID
	
	IF (@SURNAME IS NOT NULL)
		UPDATE CUSTOMERS
		SET SURNAME = @SURNAME
		WHERE ID=@ID

	IF (@ADDRESS IS NOT NULL)
		UPDATE CUSTOMERS
		SET ADDRESS = @ADDRESS
		WHERE ID=@ID

	IF (@CITY IS NOT NULL)
		UPDATE CUSTOMERS
		SET CITY = @CITY
		WHERE ID=@ID


	IF (@ZIP_CODE IS NOT NULL)
		UPDATE CUSTOMERS
		SET ZIP_CODE = @ZIP_CODE
		WHERE ID=@ID


	IF (@PHONE_NUMBER IS NOT NULL)
		UPDATE CUSTOMERS
		SET PHONE_NUMBER = @PHONE_NUMBER
		WHERE ID=@ID

	IF (@EMAIL IS NOT NULL)
		UPDATE CUSTOMERS
		SET EMAIL = @EMAIL
		WHERE ID=@ID




GO
/****** Object:  StoredProcedure [dbo].[SHOW_AVAIBLE_COURSES]    Script Date: 24.01.2018 01:40:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SHOW_AVAIBLE_COURSES]
@STATION_A VARCHAR(30),
@STATION_B VARCHAR(30)
AS

BEGIN

(SELECT KURSYAB.COURSE_ID, KURSYABN.POCIĄG, KURSYABN.PIERWSZA_STACJA, KURSYABN.OSTATNIA_STACJA, (

SELECT VISITS.DATE
FROM VISITS INNER JOIN STATIONS
ON VISITS.STATION_ID = STATIONS.ID
WHERE VISITS.COURSE_ID = KURSYAB.COURSE_ID AND STATIONS.NAME = @STATION_A) AS DATA_ODJAZDU, (

SELECT VISITS.DATE
FROM VISITS INNER JOIN STATIONS
ON VISITS.STATION_ID = STATIONS.ID
WHERE VISITS.COURSE_ID = KURSYAB.COURSE_ID AND STATIONS.NAME = @STATION_B) AS DATA_PRZYJAZDU

FROM SHOW_COURSES_WITH_AB(@STATION_A, @STATION_B) AS KURSYAB
INNER JOIN Show_Courses AS KURSYABN ON KURSYAB.COURSE_ID = KURSYABN.ID
)
END

GO
/****** Object:  StoredProcedure [dbo].[SHOW_AVAIBLE_SEATS]    Script Date: 24.01.2018 01:40:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SHOW_AVAIBLE_SEATS]
@COURSE_ID INT,
@STATION_A VARCHAR(70),
@STATION_B VARCHAR(70)
AS

BEGIN

DECLARE @FIRST_STATION INT = (
SELECT VISITS.VISIT_ORDER 
FROM VISITS INNER JOIN STATIONS
ON VISITS.STATION_ID = STATIONS.ID
WHERE STATIONS.NAME = @STATION_A AND VISITS.COURSE_ID = @COURSE_ID)

DECLARE @LAST_STATION INT = (
SELECT VISITS.VISIT_ORDER 
FROM VISITS INNER JOIN STATIONS
ON VISITS.STATION_ID = STATIONS.ID
WHERE STATIONS.NAME = @STATION_B AND VISITS.COURSE_ID = @COURSE_ID)

SELECT SIEDZENIA.SIEDZENIE
FROM (
SELECT SEATS.NUMBER AS SIEDZENIE, COUNT(SEATS.NUMBER) AS LICZBA
FROM SEATS INNER JOIN VISITS
ON SEATS.VISIT_ID = VISITS.ID
WHERE VISITS.VISIT_ORDER > (@FIRST_STATION - 1) AND VISITS.VISIT_ORDER < (@LAST_STATION + 1) AND SEATS.COURSE_ID = @COURSE_ID AND SEATS.RESERVATION_ID is NULL
GROUP BY SEATS.NUMBER) AS SIEDZENIA
WHERE SIEDZENIA.LICZBA = @LAST_STATION - @FIRST_STATION + 1;
END

GO
/****** Object:  StoredProcedure [dbo].[SHOW_COURSE_VISITS]    Script Date: 24.01.2018 01:40:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*INSERT INTO RESERVATIONS(CUSTOMER_ID, PRICE, DATE)
VALUES(1, 25.00, GETDATE());*/

CREATE PROCEDURE [dbo].[SHOW_COURSE_VISITS]
(
  @COURSE_ID int
)
AS
SELECT VISITS.COURSE_ID AS 'ID kursu',VISITS.STATION_ID AS 'ID Stacji',STATIONS.NAME AS 'Nazwa Stacji', VISITS.VISIT_ORDER AS 'Kolejność' , VISITS.DATE AS 'Data przyjazdu' 
FROM VISITS
INNER JOIN STATIONS ON VISITS.STATION_ID=STATIONS.ID
WHERE COURSE_ID = @COURSE_ID;



GO
/****** Object:  StoredProcedure [dbo].[SHOW_CUSTOMER]    Script Date: 24.01.2018 01:40:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SHOW_CUSTOMER]
@NAME varchar(50),
@SURNAME varchar(50)

AS

BEGIN
SELECT *
FROM CUSTOMERS
WHERE NAME=@NAME AND SURNAME=@SURNAME
END



GO
/****** Object:  StoredProcedure [dbo].[SHOW_CUSTOMER_RESERVATION]    Script Date: 24.01.2018 01:40:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SHOW_CUSTOMER_RESERVATION]
@CUSTOMER_ID INT
AS
BEGIN
SELECT SIEDZENIA.RESERVATION_ID AS ID_REZERWACJI, SIEDZENIA.COURSE_ID AS ID_KURSU, (

SELECT TOP(1) STATIONS.NAME
FROM STATIONS 
INNER JOIN VISITS ON STATIONS.ID = VISITS.STATION_ID
INNER JOIN SEATS ON VISITS.ID = SEATS.VISIT_ID
INNER JOIN RESERVATIONS ON SEATS.RESERVATION_ID = RESERVATIONS.ID
WHERE SEATS.RESERVATION_ID = SIEDZENIA.RESERVATION_ID
ORDER BY VISITS.VISIT_ORDER ASC) AS STACJA_POCZATKOWA, (

SELECT STATIONS.NAME FROM STATIONS
INNER JOIN VISITS ON STATIONS.ID = VISITS.STATION_ID
WHERE VISITS.COURSE_ID = SIEDZENIA.COURSE_ID AND VISITS.VISIT_ORDER =

(SELECT TOP(1) VISITS.VISIT_ORDER
FROM VISITS
INNER JOIN SEATS ON VISITS.ID = SEATS.VISIT_ID
INNER JOIN RESERVATIONS ON SEATS.RESERVATION_ID = RESERVATIONS.ID
WHERE SEATS.RESERVATION_ID = SIEDZENIA.RESERVATION_ID
ORDER BY VISITS.VISIT_ORDER DESC) + 1) AS STACJA_KONCOWA

FROM SEATS AS SIEDZENIA
INNER JOIN RESERVATIONS ON SIEDZENIA.RESERVATION_ID = RESERVATIONS.ID
WHERE RESERVATIONS.CUSTOMER_ID = @CUSTOMER_ID
GROUP BY SIEDZENIA.RESERVATION_ID, SIEDZENIA.COURSE_ID;
END

GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "CUSTOMERS"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 220
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Show_Customers'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Show_Customers'
GO
USE [master]
GO
